.write {
	padding: 35px 0;
	display: flex;
}
.writeWrapper {
	flex: 9;
	margin: 20px;
}

.writeImg {
	width: 71vw;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.writeForm {
	position: relative;
}

.writeFormGroup {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.titleWrapper {
	display: flex;
	align-items: center;
}

.writeIcon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: rgb(121, 118, 118);
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.writeInput {
	font-size: 30px;
	border: none;
	padding: 20px;
	width: 64vw;
}

.writeInput:focus {
	outline: none;
}

.writeText {
	font-size: 20px;
}

.writeSubmit {
	color: white;
	background-color: teal;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 1500px) {
	.write {
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 0;
	}
}
