.sidebar {
	flex: 3;
	margin: 20px;
	padding: 20px 0;
	background-color: #fdfbfb;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.sidebarItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.sidebarTitle {
	margin: 10px;
	padding: 5px;
	width: 80%;
	border-top: 1px solid #a7a4a4;
	border-bottom: 1px solid #a7a4a4;
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	color: #222;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}

.sidebarImg {
	margin-top: 15px;
	height: 250px;
	width: 300px;
	border-radius: 5px;
	object-fit: cover;
	object-position: left;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebarItem > p {
	padding: 30px 0;
	font-family: sans-serif;
	line-height: 19px;
	color: #555;
}

.sidebarList {
	list-style: none;
	margin-bottom: 30px;
	font-family: sans-serif;
}

.sidebarListItem {
	text-align: center;
	display: inline-block;
	width: 50%;
	margin-top: 15px;
	cursor: pointer;
}

.sidebarSocial {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.sidebarIcon {
	font-size: 18px;
	cursor: pointer;
}

@media only screen and (max-width: 1500px) {
	.sidebar {
		height: auto;
		flex: 0 auto;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
		padding-top: 40px;
		border: none;
		box-shadow: none;
		border-radius: 0px;
		background-color: #806252;
		color: #fefefe;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
	}
	.sidebarItem {
		width: 33.33%;
	}

	.sidebarItem > p {
		padding: 10px 0;
	}

	.sidebarImg {
		display: none;
	}

	.sidebarTitle {
		width: 80%;
		color: #f1f1f1;
		border-top: 1px solid #b4b4b4;
		border-bottom: 1px solid #b4b4b4;
	}

	.sidebarItem > p {
		color: #cfcfcf;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media only screen and (max-width: 800px) {
	.sidebarImg {
		width: 80%;
	}
}
