.home {
	display: flex;
	background: #d8b6a4;
	flex-wrap: wrap;
	padding-top: 80px;
	padding-bottom: 30px;
}

@media only screen and (max-width: 1500px) {
	.home {
		justify-content: center;
		padding-bottom: 0;
	}
}
