.nav {
	width: 100%;
	height: 50px;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
}

.navLeft,
.navRight {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navCenter {
	flex: 6;
}

.navIcon {
	font-size: 20px;
	margin-right: 10px;
	color: #444;
	cursor: pointer;
}

.navImage {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.navList {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.navListItem {
	margin-right: 20px;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
}

.navSearch {
	font-size: 18;
	color: #666;
	cursor: pointer;
	margin-left: 15px;
}
